@import '../../styles/dimensions.scss';

.board {
  display: flex;
  flex-direction: column;
  gap: $gridSpacing;

  &__row {
    display: flex;
    gap: $gridSpacing;
  }

  &__cell {
    border-radius: 50%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: $columnWidth;
    width: $columnWidth;
  }
}