@import '../../styles/colors.scss';

.game-status {
  padding: 10px 0;
  text-align: center;

  button + button {
    margin: 0 0 0 10px;
  }

  .turn-indicator {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    &--one {
      color: $red;
    }

    &--two {
      color: $blue;
    }
  }
}